/*
main text colour = black(#000000)
reading background colour = white(#ffffff)
background colour = midnight purple(#280137)
interactive feature = midnight blue(#145DA0)
main colour = blue(#2E8BC0)

*/

body{
    background-color: #280137;
}

header{
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    
}

#logo{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    padding-bottom: 0px;
}

#indexH1{
    display: inline;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Arial, sans-serif;
    color: #000000
}

#title{
    padding-top: 10px;
}

h1{
    font-size: x-large;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    font-size: large;
}

p{
    font-size: medium;
}

h6{
    font-size: small;
    color:#ffffff;
}

main{
    background-color: #ffffff;
    padding-top: 5px;
    border-radius: 10px;

}

aside{
    background-color: #ffffff;
    border-radius: 10px;

}

footer{
    background-color: #2E8BC0;
    border-radius: 10px;

}

nav ul{
    margin-left: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li{
    border: 2px,solid,#145DA0;
    background-color: #2E8BC0;
    list-style-type: none;
    float: left;
    width: 10%;
    text-align: center;
    padding: 16px;
}

nav li a{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: #2E8BC0;
}


.active{
    background-color: #145DA0;
}

table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
}

table td, table th{
    border-radius: 2px, solid, #f0f0f0;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover{
    background-color:#2E8BC0
}

table th{
    background-color:#145DA0;
    color: #ffffff;
}

#row0{
    text-align: center;
    font-size: 30px;
}

#leftRow{
    font-size: 20px;
    text-align: center;
}

#tabledata{
    font-size: 20px;
}


#home-carousel{

   background-color: #280137;
   margin: 0px;
}

.gallery-img{
    width: 100%;
    
}
#img-gallery{
    padding-top: 10px;
    padding-bottom: 10px;

}

#img-gallery .row{
    margin-top: 10px;
    margin-bottom: 10px;

}
#login{
    display: inline;
    
}

.champion {
    background-color:#145DA0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.champion img {
    max-width: 100%;
    height: auto;
}

#championsBackground{
    background-image: url(../images/background2.jpg);
    background-size:cover;
}
#championsBackground1{
    background-image: url(../images/background4.jpg);
    background-size: 3500px;
}
#championsBackground2{
    background-image: url(../images/background4.jpg);
    background-size: 9500px;
}

#home-carousel .carousel-item{
    width: 1900px;
    height: 1100px;
}

#roleInfo{
    color: #000000;
    font-size: 26px;
}

#roleInfo1{
    color: #000000;
    font-size: 25px;
}

#roleImg{
    color: #000000;
}

#videoclip{
    width: 720px;
    height:480px;
}
